.gigCard {
    width: 324px;
    height: 370px;
    border: 1px solid lightgray;
    margin-bottom: 25px;
    border-radius: 5px;
    font-family: 'Montserrat', 'sans-serif';
    img {
        width: 100%;
        height: 42%;
        object-fit: cover;
    }

    .info {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;

        .user {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
                width: 26px;
                height: 26px;
                border-radius: 50%;
            }
        }

        h3 {
            font-size: 15px;
            font-weight: 700;
            margin: 10px 0 8px 0;
            color: #222;
            line-height: 1.3;
        }

        p {
            color: #666;
            font-size: 12px;
            line-height: 1.5;
            margin: 0;
            font-weight: 400;
        }

        .star {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 10px;

            img {
                width: 14px;
                height: 14px;
            }

            span {
                font-size: 14px;
                font-weight: bold;
                color: #ffc108;
            }
        }
    }

    hr {
        height: 0;
        border: 0.5px solid lightgray;
    }

    .details {
        padding: 5px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            width: 16px;
            height: 16px;
            cursor: pointer;
            object-fit: cover;
        }

        .price {
            h2 {
                color: #555;
                font-size: 18px;
                font-weight: 400;
                text-align: end;
            }
            span {
                color: #999;
                font-size: 12px;
            } 
        }
    }
}
