.message {
    display: flex;
    justify-content: center;
   
    .container {
        width: 100%;
        max-width: 1200px;
        margin: 50px;

        .header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 30px;

            .recipientInfo {
                display: flex;
                align-items: center;
                gap: 15px;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .name {
                        font-weight: 600;
                        font-size: 16px;
                        color: #333;
                    }

                    .role {
                        font-size: 13px;
                        color: #666;
                        font-weight: 400;
                    }
                }
            }
        }

        .messages {
            &::-webkit-scrollbar {
                width: 12px;              
              }
              &::-webkit-scrollbar-thumb {
                background-color: rgb(135, 135, 135);    
                border-radius: 20px;      
                border: .3px solid rgb(226, 226, 225);  
              }
            margin: 30px 0px;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow: scroll;
            height: 500px;

            .item {
                display: flex;
                gap: 20px;
                max-width: 600px;
                font-size: 18px;

                &.owner {
                    flex-direction: row-reverse;
                    align-self: flex-end;

                    .messageContent {
                        p {
                            border-radius: 20px 0px 20px 20px;
                            color: white;
                            background: royalblue;
                        }
                    }
                }

                img {
                    border-radius: 50%;
                    object-fit: cover;
                    width: 40px;
                    height: 40px;
                }

                .messageContent {
                    p {
                        padding: 20px;
                        background: rgb(238, 235, 235);
                        border-radius: 0px 20px 20px 20px;
                        color: gray;
                        font-weight: 300;
                        margin: 0;
                    }
                }
            }
        }
        hr{
            height: 0;
            border: 0.5px solid rgb(225, 223, 223);
            margin-bottom: 20px;
        }
        .write {
            display: flex;
            align-items: center;
            justify-content: space-between;
           
            textarea {
                width: 80%;
                height: 100px;
                padding: 10px;
                border: 1px solid lightgray;
                border-radius: 10px ;
                &:focus{
                    border:1px solid   rgb(177, 177, 179);
                }
            }
            button{
                color:white;
                background: #1dbf73;
                padding: 20px;
                font-weight: 500;border: none;
                border-radius: 10px;
                cursor: pointer;
                width: 100px;
            }
        }
    }
}